@font-face {
    font-family: "MuseoSansCyrl300";
    src: url("../fonts/MuseoSansCyrl300.otf");
    font-weight: 300;
}

@font-face {
    font-family: "MuseoSansCyrl500";
    src: url("../fonts/MuseoSansCyrl500.otf");
    font-weight: 500;
}

@font-face {
    font-family: "MuseoSansCyrl700";
    src: url("../fonts/MuseoSansCyrl700.otf");
    font-weight: 700;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 100%;
    height: 10vh;
    border: 0px, 0px, 1px, 0px;
    padding: 20px, 40px, 20px, 40px;
    background-color: #FFFFFF;
    box-shadow: 0 1.1335145235px 4.293615818px 0 rgba(133, 94, 152, .03), 0 2.8667433262px 10.8588762283px 0 rgba(133, 94, 152, .04), 0 5.847887516px 22.1510887146px 0 rgba(133, 94, 152, .05), 0 5.847887516px 22.1510887146px 0 rgba(133, 94, 152, .05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 6.5%;
    height: 6vh;
    gap: 64px;
    margin: 2.5vw;
    margin-bottom: 5.5vh;
    margin-top: 5.5vh;
}

.exit{
    width: 12vw;
    height: 4.5vh;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #7953C3;
    border-radius: 16px;
    padding: 10px, 16px, 10px, 16px;
    margin: 3vw;
    margin-bottom: 5.5vh;
    margin-top: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exittext{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 40px;
    color: #7953C3;
}

.main{
    width: 72%;
    /* background-color: aquamarine; */
    margin-top: 8vh;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper{
    width: 100%;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.back{
    width: 10%;
    height: 4.25vh;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #7953C3;
    border-radius: 16px;
    padding: 10px, 16px, 10px, 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backtext{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 40px;
    letter-spacing: -1%;
    color: #7953C3;
}

.uppertext{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin: 20px 0px 5px 0px;
}

.createprofile{
    font-family: "MuseoSansCyrl700";
    font-weight: 700;
    font-size: 4vw;
    line-height: 60px;
    color: #040013;
    letter-spacing: -1%;
}

.slesh{
    font-family: "MuseoSansCyrl700";
    font-weight: 500;
    font-size: 2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #CCCCCC;
    margin-left: 30px;
}

.education{
    font-family: "MuseoSansCyrl700";
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #CCCCCC;
    margin-left: 30px;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.25vh;
  }

progress[value]::-webkit-progress-bar {
    width: 100%;
    height: 0.25vh;
    background-color: #F4F4F6;
}

progress[value]::-webkit-progress-value {
    width: 8%;
    height: 0.25vh;
    background-color: #CDBDDB;
}


.middle{
    width: 100%;
    margin: 4.7vh 0px 4.7vh 0px;   
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: pink;  */
}

.left{
    width: 35%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: orange; */
}

.edu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 40px;
    letter-spacing: -1%;
    color: #040013;
    padding-right: 1vw;
}
  
.edu input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #7953C3;
}
  
.edu input:checked ~ .checkmark {
    background-color: #7953C3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.edu input:checked ~ .checkmark:after {
    display: block;
}
  
.edu .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #FFFFFF;
}

.eduradios{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course{
    width: 90%;
    height: 6.5vh;
    background-color: #F4F4F6;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px solid #F4F4F6;
}


.form_radio_btn {
	display: inline-block;
	/* margin-right: 1vw;
    margin-left: 1vw; */
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
    width: 2.22vw;
    height: 2.22vw;
	display: inline-block;
	cursor: pointer;
	/* padding: 0px 15px; */
	/* line-height: 34px; */
	border-radius: 12px;
	user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #7953C3;
}
 
/* Hover */
.form_radio_btn label:hover {
	background-color: #e1dfe8e1;
}

.coursenumber{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 40px;
    letter-spacing: -1%;
    color: #040013;
}

.course-select{
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: aquamarine; */
}

.courselabel{
    width: 100px;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    color: #5D5B66;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

  /* создаем поддельный чекбокс */
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 0.7vw;
    height: 0.7vw;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #6B39CB;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

  /* для состояния checked */
.custom-checkbox:checked+label::before {
    border-color: #6B39CB;
    background-color: #6B39CB;
    background-image: url("../icons/mark.svg");
}
/* disabled состояние */
.custom-checkbox:disabled+label::before { 
    background-color: #F4F4F6; 
} 

.grad{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #040013;
    margin-left: 0.5vw;
}


/* главный */
.select-container1 {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
/* контейнер где инпут */
.select-container1 .select1 {
    position: relative;
    background: #F4F4F6;
    height: 6vh;
    border-radius: 20px;
    border: 3px solid #F4F4F6;
}

/* галочка */
.select-container1 .select1::after {
    position: absolute;
    content: "";
    width: 0.45vw;
    height: 0.45vw;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(45deg);
    border-bottom: 3px solid #7953C3;
    border-right: 3px solid #7953C3;
    cursor: pointer;
    transition: border-color 0.4s;
}

/* активная галочка */
.select-container1.active .select1::after {
    border: none;
    border-left: 3px solid #7953C3;
    border-top: 3px solid #7953C3;
}

/* инпут */
.select-container1 .select1 input {
    position: relative;
    width: 100%;
    height: 6vh;
    padding: 0 15px;
    background: none;
    outline: none;
    border: none;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    color: #040013;
    cursor: pointer;
    margin-left: 20px;
    text-overflow: ellipsis;
}


.select-container1 .option-container1 {
    position: relative;
    height: 0;
    overflow-y: scroll;
    transition: 0.4s;
}

/* контейнер с выборами */
.select-container1.active .option-container1 {
    height: 15vh;
    border-radius: 8px;
    box-shadow: 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 
    0 2.86674px 10.8589px rgba(133, 94, 152, .04), 0 1.13351px 4.29362px rgba(133, 94, 152, .028);
}

/* контейнеры с вариантами выбора */
.select-container1 .option-container1 .option1 {
    position: relative;
    padding-left: 15px;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
    background-color: #FFFFFF;
}

/* активный контейнер с вариантом выбора */
.select-container1 .option-container1 .option1.selected {
    background: #F4F4F6;
    pointer-events: none;
    display: none;
}
  
.select-container1 .option-container1 .option1:hover {
    background: #F4F4F6;
    padding-left: 20px;
}
  
/* текст в варианте выбора */
.select-container1 .option-container1 .option1 label {
    font-size: 3.5vh;
    color: #040013;
    cursor: pointer;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
}
 
/* label сверху */
.text1 {
    width: 100%;
    margin-bottom: 10px;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    color: #5D5B66;
}
  
.select-options1 {
    width: 100%;
}


/* главный */
.select-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
/* контейнер где инпут */
.select-container .select {
    position: relative;
    background: #F4F4F6;
    height: 6vh;
    border-radius: 20px;
    border: 3px solid #F4F4F6;
}

/* галочка */
.select-container .select::after {
    position: absolute;
    content: "";
    width: 0.45vw;
    height: 0.45vw;
    top: 50%;
    right: 30px;
    transform: translateY(-50%) rotate(45deg);
    border-bottom: 3px solid #7953C3;
    border-right: 3px solid #7953C3;
    cursor: pointer;
    transition: border-color 0.4s;
}

/* активная галочка */
.select-container.active .select::after {
    border: none;
    border-left: 3px solid #7953C3;
    border-top: 3px solid #7953C3;
}

/* инпут */
.select-container .select input {
    position: relative;
    width: 88%;
    height: 6vh;
    padding: 0 15px;
    background: none;
    outline: none;
    border: none;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    color: #040013;
    cursor: pointer;
    margin-left: 20px;
    text-overflow: ellipsis;
}


.select-container .option-container {
    position: relative;
    height: 0;
    overflow-y: scroll;
    transition: 0.4s;
}

/* контейнер с выборами */
.select-container.active .option-container {
    height: 15vh;
    border-radius: 8px;
    box-shadow: 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 
    0 2.86674px 10.8589px rgba(133, 94, 152, .04), 0 1.13351px 4.29362px rgba(133, 94, 152, .028);
}

/* скролбар */
.select-container .option-container::-webkit-scrollbar {
    width: 8px;
    background-color: #FFFFFF;;
}

.select-container .option-container::-webkit-scrollbar-track{
    background:#fff
}
  
.select-container .option-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #CDBDDB;
    height: 5vh;
}

/* контейнеры с вариантами выбора */
.select-container .option-container .option {
    position: relative;
    padding-left: 15px;
    height: 5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.2s;
    background-color: #FFFFFF;
}

/* активный контейнер с вариантом выбора */
.select-container .option-container .option.selected {
    background: #F4F4F6;
    pointer-events: none;
    display: none;
}
  
.select-container .option-container .option:hover {
    background: #F4F4F6;
    padding-left: 20px;
}
  
/* текст в варианте выбора */
.select-container .option-container .option label {
    font-size: 3.5vh;
    color: #040013;
    cursor: pointer;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
}
 
/* label сверху */
.text {
    width: 100px;
    margin-bottom: 10px;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    color: #5D5B66;
}
  
.select-options {
    width: 100%;
}

.OP{
    width: 100%;
    height: 6vh;
    background-color: #F4F4F6;
    border-radius: 20px;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #040013;
    border: 3px solid #F4F4F6;
}

.work{
    width: 100%;
    height: 6vh;
    background-color: #F4F4F6;
    border-radius: 20px;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #040013;
    border: 3px solid #F4F4F6;
}


input::placeholder{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #A1A6B1;
}

::-webkit-input-placeholder{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #A1A6B1;
}

input[type="text"]{
    width: 95%;
    height: 6.5vh;
    border-radius: 20px;
    background-color: #F4F4F6;
    border-style: none;
    padding-left: 5%; 
}

.right{
    width: 60%;
    height: 50vh;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* background-color: plum;  */
}

.future{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: #5D5B66;
    margin-left: 30px;
    margin-top: 20px;
}

.futureprofile{
    width: 100%;
    height: 30vh;
    border-radius: 42px;
    gap: 28px;
    box-shadow: 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 
    0 2.86674px 10.8589px rgba(133, 94, 152, .04), 0 1.13351px 4.29362px rgba(133, 94, 152, .028);
    display: flex;
    justify-content: space-between;
}

.photoandbutton{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 100%;
    height: 17vh;
    border-radius: 32px;
    border: 2px;
    border-color: #CDBDDB;
    border-style: dashed;
    margin-top: 40px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.showcontacts{
    width: 100%;
    height: 2.5vh;
    border-radius: 12px;
    padding: 6px, 12px, 6px, 12px;
    gap: 8px;
    background-color: #7953C3;
    border-color: #7953C3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    margin-left: 80px;
}

.showcontactstext{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1vw;
    line-height: 10px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.profileinfo{
    width: 70%;
    height: 100%;
}

.information{
    width: 95%;
    height: 40%;
    border-radius: 16px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.fname{
    width: 40%;
    height: 3vh;
    background-color:#F4F4F6;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.gender_age_edu{
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.fgender{
    width: 10%;
    height: 1.5vh;
    background-color:#F4F4F6;
    border-radius: 10px;
}

.fage{
    width: 10%;
    height: 1.5vh;
    background-color:#F4F4F6;
    border-radius: 10px;
}

.fedu{
    width: 60%;
    height: 1.5vh;
    background-color:#F4F4F6;
    border-radius: 10px;
}

.dot{
    width: 0.5vh;
    height: 0.6vh;
    border-radius: 50%;
    background-color: #d1c7da;
}

.fwork{
    width: 33%;
    height: 2.1vh;
    background-color:#F4F4F6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.faboutyou{
    width: 80%;
    height: 1.75vh;
    background-color:#F4F4F6;
    border-radius: 10px;
}

#fname{
    font-family: "MuseoSansCyrl700";
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#fgender{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#fage{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#faboutyou{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#fcourse{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#fstage{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#ffaculty{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#fOP{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

#fwork{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 10px;
    letter-spacing: -1%;
}

.preferences{
    width: 85%;
    height: 30%;
    padding: 20px 20px 12px 12px;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-left: 1vw;
    box-shadow: -16px 16px 0 #7953c3, 0 6px 20px rgba(133, 94, 152, .06), 0 4px 8px rgba(133, 94, 152, .08),
     0 2px 4px rgba(133, 94, 152, .08), 0 6px 20px rgba(133, 94, 152, .08), 0 6px 20px rgba(133, 94, 152, .08),
     0 4px 12px rgba(133, 94, 152, .06), 0 2px 4px rgba(133, 94, 152, .06);
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
}

.preferencestext{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.35vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: #5D5B66;
    margin-left: 10px;
}

.preferencesbefore1{
    background-color:#F4F4F6;
    width: 50%;
    height: 2vh;
    margin-left: 10px;
    border-radius: 10px;
}

.preferencesbefore2{
    background-color: #F4F4F6;
    width: 70%;
    height: 1.5vh;
    margin-left: 10px;
    border-radius: 10px;
}

.preferencesbefore3{
    background-color:#a4a1a4;
    width: 98%;
    height: 0.1vh;
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message{
    width: 100%;
    height: 10vh;
    box-shadow: 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 0 5.84789px 22.1511px rgba(133, 94, 152, .05), 
    0 2.86674px 10.8589px rgba(133, 94, 152, .04), 0 1.13351px 4.29362px rgba(133, 94, 152, .028);
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.messagetext{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.messagetext1{
    font-family: "MuseoSansCyrl700";
    font-weight: 700;
    font-size: 2.25vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #040013;
    margin-left: 30px;
    margin-top: 10px;
}

.messagetext2{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: #5D5B66;
    margin-left: 30px;
}

.emoji{
    width: 4vh;
    height: 4vh;
    margin-right: 30px;
}

.lower{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.continue{
    width: 22%;
    height: 5.5vh;
    border-radius: 16px;
    padding: 12px, 64px, 12px, 64px;
    gap: 8px;
    background-color: #7953C3;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continuetext{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2.2vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #FFFFFF;
}




.footer{
    width: 100%;
    height: 60vh; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.line1{
    width: 100%;
    height: 2px;
    background-color: #EBEBEB;
}

.contacts{
    width: 70%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.email{
    font-family: "MuseoSansCyrl700";
    font-weight: 700;
    font-size: 90px;
    line-height: 48px;
    letter-spacing: -2%;
    color: #7953C3;
}

.techsupport{
    font-family: "MuseoSansCyrl300";
    font-weight: 300;
    font-size: 30px;
    line-height: 24px;
    letter-spacing: -2%;
    color: #AAAAAA;
    margin-top: 8px;
}

.support{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
}

.line2{
    width: 70%;
    height: 3px;
    background-color: #EBEBEB;
}

.imp{
    width: 50%;
}

.aboutservice{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 30px;
    line-height: 24px;
    color: #040013;
    margin-right: 2vw;
}

.media{
    width: 7%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
}

.tglink{
    width: 3vh;
    height: 3vh;
    border-radius: 10px;
    background-color: #F4F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vklink{
    width: 3vh;
    height: 3vh;
    border-radius: 10px;
    background-color: #F4F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg{
    width: 2.1vh;
    height: 2.1vh;
}

.vk{
    width: 2.1vh;
    height: 2.1vh;
}

.mention{
    width: 70%;
    height: 3.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policycomm{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.policy{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 27px;
    line-height: 20px;
    letter-spacing: -1%;
    color: #AAAAAA;
}

.madein{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 27px;
    line-height: 20px;
    letter-spacing: -1%;
    color: #AAAAAA;
}

.line3{
    width: 100%;
    height: 1vh;
    background-color: #7953C3;
}

/* модальное окно показать контакты */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: 100%;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 600px;
      margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 3px solid #7953C3;
    border-radius: 20px;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 10px;
    font-family: "MuseoSansCyrl700";
    font-weight: 700;
    font-size: 2.25vw;
    line-height: 24px;
    letter-spacing: -1%;
    color: #040013;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 2.25vw;
    font-weight: 700;
    line-height: 1;
    color: #7953C3;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    margin-right: 10px;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
    height: 5vh;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.showtg{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: #5D5B66;
}

.showtel{
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 2vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: #5D5B66;
}

.ifInvalidRole{
    margin-top: 1vh;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: red;
}

.ifInvalidCourse{
    margin-top: 1vh;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: red;
}

.ifInvalidStage{
    margin-top: 1vh;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: red;
}

.ifInvalidFaculty{
    margin-top: 1vh;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: red;
}

#ifInvalidOP{
    margin-top: 1vh;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: red;
}

#ifInvalidWork{
    margin-top: 1vh;
    font-family: "MuseoSansCyrl500";
    font-weight: 500;
    font-size: 1.8vw;
    line-height: 20px;
    letter-spacing: -1%;
    color: red;
}

.OP-form{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-form{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





